@import "~bootstrap/dist/css/bootstrap-grid.css";
@import "font/css/fontiran.css";

:root{
  --full-height: 100vh;
  --bg: #faf7e2ff;
  --color: #2b2b2b;
  --primary: #f9de59ff;
  --accent: #bbff5bff;
  --mute: #8b8b8b;
}

.theme1{
  --bg: #272a27ff;
  --color: #ffffff;
  --primary: #c9080c;
  --accent: #22ee13;
  --mute: #bbbbbb;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: iranyekan;
  background-color: var(--bg);
  color: var(--color);
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #b1b1b1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a7a7a7;
}

.row{
  width: 100%;
}