
.container{
    width: 100%;
    height: var(--full-height);
    overflow: hidden;
    display: flex;
}

.DataContainer{
    flex: 1;
    height: var(--full-height);
}

@media only screen and (max-width: 600px){
    .container{
        flex-direction: column;
    }

    .DataContainer{
        flex: 1;
        height: unset;
        width: 100%;
    }
}