
.container{
    width: 100%;
    height: var(--full-height);
    overflow: hidden;
    display: flex;
    gap: 5px;
}

.DataContainer{
    display: flex;
    padding: 15px;
    flex: 1;
    height: var(--full-height);
}

.smallContainer{
    border-radius: 10px;
    width: 400px;
    height: var(--full-height);
    background-color: var(--primary);
}

@media only screen and (max-width: 600px){
    .container{
        flex-direction: column;
    }

    .DataContainer{
        flex: 1;
        height: unset;
        width: 100%;
    }

    .smallContainer{
        height: 30vh;
        width: 100%;
    }
}