.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px #d0d0d0 solid;
    gap: 3px;
}

@media only screen and (max-width: 600px){
    .container{
        flex-direction: row;
        width: 100%;
    }
}