
.container{
    min-width: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.active{
    background-color: var(--primary);
}

.container:hover{
    background-color: var(--accent);
}