.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
    border: 1px white solid;
}

@media only screen and (max-width: 600px){
    .container{
        flex-direction: row;
        width: 100%;
    }
}